.Card {
  margin: 8px;
  position: relative;
  border-radius: 2px;
  overflow:  hidden;
  background-color: #fafafa;
  height: 35%;
  width: 344px;
  transition: box-shadow .25s;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

  &-action {
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 20px;

    a {
      color: #ffab40;
      margin-right: 20px;
      transition: color .3s ease;
      text-transform: uppercase;

      &:hover {
        color: #ffd8a6;
        cursor: pointer;
      }
    }
  }

  &-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;

    p {
      margin: 0;
      padding: 0;
    }
  }

  &-title {
    line-height: 48px;
    font-size: 24px;
    font-weight: 300;
  }
}